/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.enquiry-form {
	width: 366px;

	input[type="text"],
	input[type="email"],
	input[type="date"],
	textarea {
		float: right;
	}
}

.form-bottom {
	padding-left: 110px;
	overflow: hidden;

	span {
		display: block;
		float: right;
	}
}

.form-field {
	margin: 0 0 11px;
	overflow: hidden;
}


label {
	line-height: 30px;
}

input {
	width: 189px;
	height: 30px;
	padding: 3px 5px 3px;
	background: none;	
}

input[type="submit"] {
	width: 122px;
	height: 42px;
	font-size: 22px;
	color: #fff;
	border: none;
	background: sprite($sprite, btn-submit) no-repeat;
}

textarea {
	width: 418px;
	height: 102px;
	resize: none;
	overflow: auto;
}

input,
textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px 5px;
	border: 1px solid #686d71;
	width: 255px;

	&:focus {
		border: 1px solid #5a22b7;
		outline: none;
	}
}
