/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@mixin extjs-messagebox {
    .#{$prefix}message-box .#{$prefix}window-body {
        background-color: $window-background-color;
        border: none;
    }

    .#{$prefix}message-box .ext-mb-textarea {
        margin-top: 4px;
    }

    .#{$prefix}message-box .#{$prefix}progress-wrap {
        margin-top: 4px;
    }

    .#{$prefix}message-box .ext-mb-icon {
        width: 47px;
        height: 32px;
    }

    .#{$prefix}message-box .ext-mb-info,
    .#{$prefix}message-box .ext-mb-warning,
    .#{$prefix}message-box .ext-mb-question,
    .#{$prefix}message-box .ext-mb-error {
        background: transparent no-repeat top left;
    }

    .ext-gecko2 .ext-mb-fix-cursor {
        overflow: auto;
    }

    .#{$prefix}message-box .#{$prefix}msg-box-wait {
        background-image: theme-background-image($theme-name, 'shared/blue-loading.gif');
    }

    .#{$prefix}message-box .ext-mb-info {
        background-image: theme-background-image($theme-name, 'shared/icon-info.gif');
    }

    .#{$prefix}message-box .ext-mb-warning {
        background-image: theme-background-image($theme-name, 'shared/icon-warning.gif');
    }

    .#{$prefix}message-box .ext-mb-question {
        background-image: theme-background-image($theme-name, 'shared/icon-question.gif');
    }

    .#{$prefix}message-box .ext-mb-error {
        background-image: theme-background-image($theme-name, 'shared/icon-error.gif');
    }
}