/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@mixin extjs-scroller {
    .#{$prefix}horizontal-scroller-present .#{$prefix}grid-body {
        border-bottom-width: 0px;
    }
        
    .#{$prefix}vertical-scroller-present .#{$prefix}grid-body {
        border-right-width: 0px;
    }

    .#{$prefix}scroller {
        overflow: hidden;
    }
    
    .#{$prefix}scroller-vertical {
        border: 1px solid $panel-border-color;
        border-top-color: $grid-header-background-color;
    }
    
    .#{$prefix}scroller-horizontal {
        border: 1px solid $panel-border-color;
    }

    .#{$prefix}vertical-scroller-present .#{$prefix}scroller-horizontal {
        border-right-width: 0px;
    }
    
    .#{$prefix}scroller-ct {
        overflow: hidden;
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;
        left: 0px;
        top: 0px;

        /*
        In IE9 (only), the border-box style causes the scroller-ct to be 0px in the
        perpendicular dimension and breaks the scroll as well as offsets it by the left
        offset that we use to try and keep some size on this element. This works on all
        browsers (including IE9).
        */
        box-sizing: content-box !important;
        -ms-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        -webkit-box-sizing: content-box !important;
    }
    
    .#{$prefix}scroller-vertical .#{$prefix}scroller-ct {
        overflow-y: scroll;
    }
    
    .#{$prefix}scroller-horizontal .#{$prefix}scroller-ct {
        overflow-x: scroll;
    }
}
