// $color-mode: get-color-mode($neutral-color) !default;
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

$stroke-color: color-offset($neutral-color, 20%, dark) !default;

$clear: rgba($base-color, 0);

// $content-color: color-by-background($base-color, 100%);
$content-color: color-offset($neutral-color, 30%);
$mixed-color: hsla(hue($base-color), saturation($base-color), lightness($neutral-color), opacity($neutral-color));