/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.x-container-breadcrumbs {

	.x-btn-breadcrumb-small {
		background: #ecf0f1;
		
		.x-btn-inner {
			font-size: 21px;
			font-family: $vrr;
			color: #8c8c8c;
			height: 50px;
			line-height: 50px;
			padding-left: 25px;
		}
		&:first-child {
			.x-btn-arrow {
				display: none;
			}

			.x-btn-inner {
				padding-left: 0;
			}
		}
	}

	.x-btn-breadcrumb-small-over,
	.x-btn-breadcrumb-small-active {		
		.x-btn-inner {
			color: #2896dd;
		}
	}

	.x-btn-breadcrumb-small-active {
		background: #bcc2c7;
		
		.x-btn-arrow {
			background: sprite($sprite, wizard-breadcrumps-steps-light_gray-to-dark_gray) no-repeat;
		}

		+ .x-btn-breadcrumb-small {
			.x-btn-arrow {
				background: sprite($sprite, wizard-breadcrumps-steps-dark_gray-to-light_gray) no-repeat;
			}
		}
	}

	.x-btn-arrow {
		position: absolute;
		left: 0;
		top: 0;		
		width: 24px;
		height: 50px;
		background: sprite($sprite, wizard-breadcrumps-steps-light_gray-to-light_gray) no-repeat;
	}
}