/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.cal-day-column {
    position: relative;
}

.cal-cell-time-header {
    background-color: #7efafa;
    border-right: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    color: #777777;
    line-height: 30px;
    text-align: center;
}
.cal-last-cell-time-header {
    background-color: #7efafa;
    border-bottom: 1px solid #7d7d7d;
    color: #777777;
    line-height: 30px;
    text-align: center;
}
.cal-cell-day-header {
    background-color: #7efafa;
    border-right: 1px solid #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    color: #777777;
    line-height: 30px;
    text-align: center;
}
.cal-cell-time-legend {
    background-color: #F6F9FC;
    border-right: 1px solid #7d7d7d;
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
.cal-cell-day-fullhour {
    background-color: #FFFFFF;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.cal-cell-day-halfhour {
    background-color: #FFFFFF;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px dotted #DDDDDD;
}
.cal-cell-day-halfhour:hover,
.cal-cell-day-fullhour:hover {
    background-color: #BCFFFF;
}

.cal-event {
    position: absolute;
    overflow: hidden;
    opacity: 0.7;
    background-color: #FFD48E;
    border: 1px solid #cc3300;
    border-radius: 5px;
}