.left-sidebar {
	width: 230px;
	margin-right: 20px;
	float: left;
}

.rigth-sidebar {
	width: 200px;
	float: left;
}

.sidebar-menu {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		padding-left: 0;
	}

	a {
		display: block;
		font-family: $qcs;
		text-decoration: none;
		margin-bottom: 20px;
		color: #686d71;

		&:hover,
		&.active {
			color: #9966cc;
		}
	}

	> li {
		margin-bottom: 20px;

		> a {
			font-size: 26px;
		}

		ul {
			margin: 0;
			padding: 0;
		}
		li {			
			a {
				font-size: 18px;
			}
		}
	}
}