/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@mixin extjs-form-checkboxgroup {

    .#{$prefix}form-checkboxgroup-body {
        //padding: 3px 4px;
    }

    .#{$prefix}form-invalid {
        .#{$prefix}form-checkboxgroup-body {
            border: 1px solid #c30;
            background: #fff repeat-x bottom;
            background-image: theme-background-image($theme-name, 'grid/invalid_line.gif');
            padding: 2px 3px;
        }
    }
    
    .#{$prefix}check-group-alt {
        background: adjust-color($base-color, $hue: 2.667deg, $saturation: -7.168%, $lightness: 3.725%);
        
        border-top:1px dotted adjust-color($base-color, $hue: 17.193deg, $saturation: -40.827%, $lightness: -9.412%);
        border-bottom:1px dotted adjust-color($base-color, $hue: 17.193deg, $saturation: -40.827%, $lightness: -9.412%);
    }

    .#{$prefix}form-check-group-label {
        color: #333;
        
        border-bottom: 1px solid #333;
        
        margin: 0 30px 5px 0;
        padding: 2px;
    }
}