/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.#{$prefix}focus-element {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 0px;
    height: 0px;
}

.#{$prefix}focus-frame {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100000000;
    width: 0px;
    height: 0px;
}

.#{$prefix}focus-frame-top,
.#{$prefix}focus-frame-bottom,
.#{$prefix}focus-frame-left,
.#{$prefix}focus-frame-right {
    position: absolute;
    top: 0px;
    left: 0px;
}

.#{$prefix}focus-frame-top,
.#{$prefix}focus-frame-bottom {
    border-top: $focus-frame-style $focus-frame-width $focus-frame-color;
    height: $focus-frame-width;
}

.#{$prefix}focus-frame-left,
.#{$prefix}focus-frame-right {
    border-left: $focus-frame-style $focus-frame-width $focus-frame-color;
    width: $focus-frame-width;
}
