/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/**
 * Creates the base structure of a BoundList.
 * @member Ext.view.BoundList
 */
@mixin extjs-boundlist {
    .#{$prefix}boundlist {
        border-width: $boundlist-border-width;
        border-style: $boundlist-border-style;
        border-color: $boundlist-border-color;
        background: $boundlist-background-color;

        .#{$prefix}toolbar {
            border-width: 1px 0 0 0;
        }
    }

    // IE6/7 have issues with lists in strict mode
    @if $include-ie {
        .#{$prefix}strict {
            .#{$prefix}ie6,
            .#{$prefix}ie7 {
                .#{$prefix}boundlist-list-ct {
                    position: relative;
                }
            }
        }
    }

    .#{$prefix}boundlist-item {
        padding: $boundlist-item-padding;

        @include no-select;

        cursor: pointer;
        cursor: hand;
        position: relative; /*allow hover in IE on empty items*/

        border-width: $boundlist-item-border-width;
        border-style: $boundlist-item-border-style;
        border-color: $boundlist-item-border-color;
    }

    .#{$prefix}boundlist-selected {
        background: $boundlist-item-selected-background-color;
        border-color: $boundlist-item-selected-border-color;
    }

    .#{$prefix}boundlist-item-over {
        background: $boundlist-item-over-background-color;
        border-color: $boundlist-item-over-border-color;
    }

    .#{$prefix}boundlist-floating {
        border-top-width: 0;
    }

    .#{$prefix}boundlist-above {
        border-top-width: 1px;
        border-bottom-width: 1px;
    }
}