/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@mixin underline($state: false) {
  
  @if $state == false {
    text-decoration: none;
  }
  @else {
    text-decoration: underline; 
  }
}

//Gradient RGBA
@mixin bg($color: #000, $opacity:.75) {
  @include filter-gradient(rgba($color,$opacity),rgba($color,$opacity));
  background: rgba($color,$opacity);
}
//Gradient linear
@mixin bg-linear($color1, $color2,$type:top) {
  $type-num: if($type == top,vertical,0);
  @include filter-gradient($color1,$color2,$type-num);
  @include background(linear-gradient($type,$color1,$color2));
}


//Placeholder color
@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}