/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

$tip-base-color: adjust-color($base-color, $hue: 2.121deg, $saturation: 44.444%, $lightness: 11.569%) !default;

//background
$tip-background-color: $tip-base-color !default;
$tip-background-gradient: null !default;

//text
$tip-body-color      : adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -66.667%) !default;
$tip-body-font-size  : ceil($font-size * .9) !default;
$tip-body-font-weight: normal !default;
$tip-body-padding: 3px !default;
$tip-body-link-color: darken($tip-body-color, 10%) !default;

$tip-header-color       : $tip-body-color !default;
$tip-header-font-size   : $tip-body-font-size !default;
$tip-header-font-weight : bold !default;
$tip-header-body-padding: 3px 3px 0 3px!default;  

//borders
$tip-border-color: adjust-color($tip-base-color, $hue: -1.705deg, $saturation: -60.494%, $lightness: -27.451%) !default;
$tip-border-width: 1px !default;
$tip-border-radius: 3px !default;

//error tips
$tip-error-inner-border-color: #d87166 !default;
$tip-error-border-color: #a1311f !default;
$tip-error-border-radius: 5px !default;
$tip-error-border-width: 1px !default;
$tip-error-background-color: #fff !default;
